# Archivos generados por Django
*.pyc
*.pyo
*.pyd
__pycache__

# Archivos de configuración de Django
*.env
*.sqlite3

# Dependencias de Python (puedes agregar o eliminar según tus necesidades)
venv/
env/
envs/
.venv/
.env/

# Archivos y carpetas específicos de Django
media/
static/
**/__pycache__/
db.sqlite3

# Archivos de registro
*.log

# Otros archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración para IDEs específicos (puedes agregar o eliminar según tus necesidades)
.idea/
.vscode/

